<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyk.dao.SysGoodsShelvesMapper" >
  <resultMap id="BaseResultMap" type="com.yyk.entity.SysGoodsShelves" >
    <id column="GOODS_SHELVES_ID" property="goodsShelvesId" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="SHELVES_ID" property="shelvesId" jdbcType="VARCHAR" />
    <result column="GOODS_ID" property="goodsId" jdbcType="VARCHAR" />
    <result column="GOODS_CODE" property="goodsCode" jdbcType="VARCHAR" />
    <result column="IN_TIME" property="inTime" jdbcType="DATE" />
    <result column="OUT_TIME" property="outTime" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GOODS_SHELVES_ID, ID, SHELVES_ID, GOODS_ID, GOODS_CODE, IN_TIME, OUT_TIME, STATUS, 
    CREATE_TIME, UPDATE_TIME, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yyk.entity.SysGoodsShelvesCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from goods_shelves_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goods_shelves_table
    where GOODS_SHELVES_ID = #{goodsShelvesId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from goods_shelves_table
    where GOODS_SHELVES_ID = #{goodsShelvesId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yyk.entity.SysGoodsShelvesCriteria" >
    delete from goods_shelves_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yyk.entity.SysGoodsShelves" >
    insert into goods_shelves_table (GOODS_SHELVES_ID, ID, SHELVES_ID, 
      GOODS_ID, GOODS_CODE, IN_TIME, 
      OUT_TIME, STATUS, CREATE_TIME, 
      UPDATE_TIME, REMARK)
    values (#{goodsShelvesId,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{shelvesId,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, #{inTime,jdbcType=DATE}, 
      #{outTime,jdbcType=DATE}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyk.entity.SysGoodsShelves" >
    insert into goods_shelves_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsShelvesId != null" >
        GOODS_SHELVES_ID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="shelvesId != null" >
        SHELVES_ID,
      </if>
      <if test="goodsId != null" >
        GOODS_ID,
      </if>
      <if test="goodsCode != null" >
        GOODS_CODE,
      </if>
      <if test="inTime != null" >
        IN_TIME,
      </if>
      <if test="outTime != null" >
        OUT_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsShelvesId != null" >
        #{goodsShelvesId,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shelvesId != null" >
        #{shelvesId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=DATE},
      </if>
      <if test="outTime != null" >
        #{outTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yyk.entity.SysGoodsShelvesCriteria" resultType="java.lang.Integer" >
    select count(*) from goods_shelves_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods_shelves_table
    <set >
      <if test="record.goodsShelvesId != null" >
        GOODS_SHELVES_ID = #{record.goodsShelvesId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shelvesId != null" >
        SHELVES_ID = #{record.shelvesId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null" >
        GOODS_ID = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCode != null" >
        GOODS_CODE = #{record.goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.inTime != null" >
        IN_TIME = #{record.inTime,jdbcType=DATE},
      </if>
      <if test="record.outTime != null" >
        OUT_TIME = #{record.outTime,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods_shelves_table
    set GOODS_SHELVES_ID = #{record.goodsShelvesId,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=INTEGER},
      SHELVES_ID = #{record.shelvesId,jdbcType=VARCHAR},
      GOODS_ID = #{record.goodsId,jdbcType=VARCHAR},
      GOODS_CODE = #{record.goodsCode,jdbcType=VARCHAR},
      IN_TIME = #{record.inTime,jdbcType=DATE},
      OUT_TIME = #{record.outTime,jdbcType=DATE},
      STATUS = #{record.status,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyk.entity.SysGoodsShelves" >
    update goods_shelves_table
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="shelvesId != null" >
        SHELVES_ID = #{shelvesId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        GOODS_CODE = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null" >
        IN_TIME = #{inTime,jdbcType=DATE},
      </if>
      <if test="outTime != null" >
        OUT_TIME = #{outTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where GOODS_SHELVES_ID = #{goodsShelvesId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyk.entity.SysGoodsShelves" >
    update goods_shelves_table
    set ID = #{id,jdbcType=INTEGER},
      SHELVES_ID = #{shelvesId,jdbcType=VARCHAR},
      GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      GOODS_CODE = #{goodsCode,jdbcType=VARCHAR},
      IN_TIME = #{inTime,jdbcType=DATE},
      OUT_TIME = #{outTime,jdbcType=DATE},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      REMARK = #{remark,jdbcType=VARCHAR}
    where GOODS_SHELVES_ID = #{goodsShelvesId,jdbcType=VARCHAR}
  </update>
</mapper>