<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyk.dao.SysInvoiceMapper">
  <resultMap id="BaseResultMap" type="com.yyk.entity.SysInvoice">
    <id column="INVOICE_ID" jdbcType="VARCHAR" property="invoiceId" />
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="VEHICLE_ID" jdbcType="VARCHAR" property="vehicleId" />
    <result column="LINE_ID" jdbcType="VARCHAR" property="lineId" />
    <result column="EMP_ID" jdbcType="VARCHAR" property="empId" />
    <result column="ADDR_NOW" jdbcType="VARCHAR" property="addrNow" />
    <result column="INVOICE_STATUS" jdbcType="INTEGER" property="invoiceStatus" />
    <result column="START_TIME" jdbcType="DATE" property="startTime" />
    <result column="END_TIME" jdbcType="DATE" property="endTime" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <resultMap id="BaseResultMapNew" type="com.yyk.dto.OrderDTO.OrderResDTO" extends="BaseResultMap">
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
    <result column="VEHICLE_NAME" jdbcType="VARCHAR" property="vehicleName" />
    <result column="LINE_TIME" jdbcType="TIME" property="lineTime" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ADDR_NOW" jdbcType="VARCHAR" property="addrNow" />
    <result column="CONSIGNEE_NAME" jdbcType="VARCHAR" property="consigneeName" />
    <result column="RECE_PHONE" jdbcType="VARCHAR" property="recePhone" />
    <result column="INVOICE_STATUS_NAME" jdbcType="INTEGER" property="invoiceStatusName" />
    <result column="START_TIME" jdbcType="DATE" property="startTime" />
    <result column="END_TIME" jdbcType="DATE" property="endTime" />
  </resultMap>
  
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    INVOICE_ID, ID, ORDER_ID, GOODS_ID, VEHICLE_ID, LINE_ID, EMP_ID, ADDR_NOW, INVOICE_STATUS, 
    START_TIME, END_TIME, STATUS, CREATE_TIME, UPDATE_TIME, REMARK
  </sql>
  <select id="selectByExample" parameterType="com.yyk.entity.SysInvoiceCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from invoice_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invoice_table
    where INVOICE_ID = #{invoiceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from invoice_table
    where INVOICE_ID = #{invoiceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yyk.entity.SysInvoiceCriteria">
    delete from invoice_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yyk.entity.SysInvoice">
    insert into invoice_table (INVOICE_ID, ID, ORDER_ID, 
      GOODS_ID, VEHICLE_ID, LINE_ID, 
      EMP_ID, ADDR_NOW, INVOICE_STATUS, 
      START_TIME, END_TIME, STATUS, 
      CREATE_TIME, UPDATE_TIME, REMARK
      )
    values (#{invoiceId,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=VARCHAR}, #{vehicleId,jdbcType=VARCHAR}, #{lineId,jdbcType=VARCHAR}, 
      #{empId,jdbcType=VARCHAR}, #{addrNow,jdbcType=VARCHAR}, #{invoiceStatus,jdbcType=INTEGER}, 
      #{startTime,jdbcType=DATE}, #{endTime,jdbcType=DATE}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyk.entity.SysInvoice">
    insert into invoice_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invoiceId != null">
        INVOICE_ID,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="vehicleId != null">
        VEHICLE_ID,
      </if>
      <if test="lineId != null">
        LINE_ID,
      </if>
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="addrNow != null">
        ADDR_NOW,
      </if>
      <if test="invoiceStatus != null">
        INVOICE_STATUS,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="vehicleId != null">
        #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null">
        #{lineId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="addrNow != null">
        #{addrNow,jdbcType=VARCHAR},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yyk.entity.SysInvoiceCriteria" resultType="java.lang.Integer">
    select count(*) from invoice_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update invoice_table
    <set>
      <if test="record.invoiceId != null">
        INVOICE_ID = #{record.invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null">
        GOODS_ID = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.vehicleId != null">
        VEHICLE_ID = #{record.vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="record.lineId != null">
        LINE_ID = #{record.lineId,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null">
        EMP_ID = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.addrNow != null">
        ADDR_NOW = #{record.addrNow,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceStatus != null">
        INVOICE_STATUS = #{record.invoiceStatus,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        START_TIME = #{record.startTime,jdbcType=DATE},
      </if>
      <if test="record.endTime != null">
        END_TIME = #{record.endTime,jdbcType=DATE},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update invoice_table
    set INVOICE_ID = #{record.invoiceId,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=INTEGER},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      GOODS_ID = #{record.goodsId,jdbcType=VARCHAR},
      VEHICLE_ID = #{record.vehicleId,jdbcType=VARCHAR},
      LINE_ID = #{record.lineId,jdbcType=VARCHAR},
      EMP_ID = #{record.empId,jdbcType=VARCHAR},
      ADDR_NOW = #{record.addrNow,jdbcType=VARCHAR},
      INVOICE_STATUS = #{record.invoiceStatus,jdbcType=INTEGER},
      START_TIME = #{record.startTime,jdbcType=DATE},
      END_TIME = #{record.endTime,jdbcType=DATE},
      STATUS = #{record.status,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyk.entity.SysInvoice">
    update invoice_table
    <set>
      <if test="id != null">
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="vehicleId != null">
        VEHICLE_ID = #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null">
        LINE_ID = #{lineId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        EMP_ID = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="addrNow != null">
        ADDR_NOW = #{addrNow,jdbcType=VARCHAR},
      </if>
      <if test="invoiceStatus != null">
        INVOICE_STATUS = #{invoiceStatus,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where INVOICE_ID = #{invoiceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyk.entity.SysInvoice">
    update invoice_table
    set ID = #{id,jdbcType=INTEGER},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      VEHICLE_ID = #{vehicleId,jdbcType=VARCHAR},
      LINE_ID = #{lineId,jdbcType=VARCHAR},
      EMP_ID = #{empId,jdbcType=VARCHAR},
      ADDR_NOW = #{addrNow,jdbcType=VARCHAR},
      INVOICE_STATUS = #{invoiceStatus,jdbcType=INTEGER},
      START_TIME = #{startTime,jdbcType=DATE},
      END_TIME = #{endTime,jdbcType=DATE},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      REMARK = #{remark,jdbcType=VARCHAR}
    where INVOICE_ID = #{invoiceId,jdbcType=VARCHAR}
  </update>
  
  
 <select id="selectOrderByExample" parameterType="com.yyk.entity.SysInvoiceCriteria" resultMap="BaseResultMapNew">
    select  i.order_id ORDER_ID,o.CONSIGNEE_NAME CONSIGNEE_NAME,o.RECE_PHONE  RECE_PHONE,e.EMP_NAME EMP_NAME,e.PHONE PHONE,i.addr_now ADDR_NOW,i.start_time START_TIME,i.end_time END_TIME,b.data_name INVOICE_STATUS_NAME from 
    (select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from invoice_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>)i
    left join emp_table e on i.emp_id=e.EMP_ID and  e.`STATUS`&gt;= 1
    left join order_table o on i.order_id=o.order_id and  o.`STATUS`&gt;= 1
    LEFT JOIN base_code b on i.invoice_status=b.code and b.CODE_TYPE='INVOICETYPE' and b.`STATUS`&gt;= 1
  </select>
  
  
  <select id="selectByExampleNew" parameterType="com.yyk.entity.SysInvoiceCriteria" resultMap="BaseResultMapNew">
   select i.INVOICE_ID INVOICE_ID,o.CONSIGNEE_NAME CONSIGNEE_NAME,o.RECE_PHONE  RECE_PHONE,i.ORDER_ID,e.EMP_NAME EMP_NAME,i.INVOICE_STATUS,l.LINE_TIME LINE_TIME,v.VEHICLE_NAME VEHICLE_NAME,i.ADDR_NOW,b.DATA_NAME INVOICE_STATUS_NAME from
    (select <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from invoice_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>)i
    LEFT JOIN emp_table e on i.EMP_ID=e.EMP_ID and e.`STATUS` &gt;=1
    left join order_table o on i.order_id=o.order_id and  o.`STATUS`&gt;= 1
	LEFT JOIN line_table l on i.LINE_ID=l.LINE_ID and l.`STATUS` &gt;=1
	LEFT JOIN vehicle_table v on i.VEHICLE_ID=v.VEHICLE_ID and v.`STATUS` &gt;=1
	LEFT JOIN base_code b on i.INVOICE_STATUS=b.`CODE` and b.CODE_TYPE='INVOICETYPE' and b.`STATUS`&gt;= 1
  </select>
</mapper>