<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyk.dao.SysShelvesMapper" >
  <resultMap id="BaseResultMap" type="com.yyk.entity.SysShelves" >
    <id column="SHELVES_ID" property="shelvesId" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="SHELVES_CODE" property="shelvesCode" jdbcType="VARCHAR" />
    <result column="SHELVES_NAME" property="shelvesName" jdbcType="VARCHAR" />
    <result column="SHELVES_TYPE" property="shelvesType" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="BaseResultMapNew" type="com.yyk.dto.ShelvesDTO.ShelvesResDTO" extends="BaseResultMap" >
    <result column="SHELVES_TYPE_NAME" property="shelvesTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SHELVES_ID, ID, SHELVES_CODE, SHELVES_NAME, SHELVES_TYPE, STATUS, CREATE_TIME, UPDATE_TIME, 
    REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yyk.entity.SysShelvesCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from shelves_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shelves_table
    where SHELVES_ID = #{shelvesId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shelves_table
    where SHELVES_ID = #{shelvesId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yyk.entity.SysShelvesCriteria" >
    delete from shelves_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yyk.entity.SysShelves" >
    insert into shelves_table (SHELVES_ID, ID, SHELVES_CODE, 
      SHELVES_NAME, SHELVES_TYPE, STATUS, 
      CREATE_TIME, UPDATE_TIME, REMARK
      )
    values (#{shelvesId,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{shelvesCode,jdbcType=VARCHAR}, 
      #{shelvesName,jdbcType=VARCHAR}, #{shelvesType,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyk.entity.SysShelves" >
    insert into shelves_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shelvesId != null" >
        SHELVES_ID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="shelvesCode != null" >
        SHELVES_CODE,
      </if>
      <if test="shelvesName != null" >
        SHELVES_NAME,
      </if>
      <if test="shelvesType != null" >
        SHELVES_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shelvesId != null" >
        #{shelvesId,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shelvesCode != null" >
        #{shelvesCode,jdbcType=VARCHAR},
      </if>
      <if test="shelvesName != null" >
        #{shelvesName,jdbcType=VARCHAR},
      </if>
      <if test="shelvesType != null" >
        #{shelvesType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yyk.entity.SysShelvesCriteria" resultType="java.lang.Integer" >
    select count(*) from shelves_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shelves_table
    <set >
      <if test="record.shelvesId != null" >
        SHELVES_ID = #{record.shelvesId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shelvesCode != null" >
        SHELVES_CODE = #{record.shelvesCode,jdbcType=VARCHAR},
      </if>
      <if test="record.shelvesName != null" >
        SHELVES_NAME = #{record.shelvesName,jdbcType=VARCHAR},
      </if>
      <if test="record.shelvesType != null" >
        SHELVES_TYPE = #{record.shelvesType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shelves_table
    set SHELVES_ID = #{record.shelvesId,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=INTEGER},
      SHELVES_CODE = #{record.shelvesCode,jdbcType=VARCHAR},
      SHELVES_NAME = #{record.shelvesName,jdbcType=VARCHAR},
      SHELVES_TYPE = #{record.shelvesType,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyk.entity.SysShelves" >
    update shelves_table
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="shelvesCode != null" >
        SHELVES_CODE = #{shelvesCode,jdbcType=VARCHAR},
      </if>
      <if test="shelvesName != null" >
        SHELVES_NAME = #{shelvesName,jdbcType=VARCHAR},
      </if>
      <if test="shelvesType != null" >
        SHELVES_TYPE = #{shelvesType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where SHELVES_ID = #{shelvesId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyk.entity.SysShelves" >
    update shelves_table
    set ID = #{id,jdbcType=INTEGER},
      SHELVES_CODE = #{shelvesCode,jdbcType=VARCHAR},
      SHELVES_NAME = #{shelvesName,jdbcType=VARCHAR},
      SHELVES_TYPE = #{shelvesType,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      REMARK = #{remark,jdbcType=VARCHAR}
    where SHELVES_ID = #{shelvesId,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectByExampleNew" resultMap="BaseResultMapNew" parameterType="com.yyk.entity.SysShelvesCriteria" >
  SELECT s.SHELVES_CODE ,s.SHELVES_ID,s.SHELVES_NAME,s.REMARK,s.SHELVES_TYPE,b.DATA_NAME SHELVES_TYPE_NAME from
    (select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from shelves_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>)s
    LEFT JOIN base_code b on b.CODE_TYPE='SHELVESTYPE' and b.`CODE`=s.SHELVES_TYPE
  </select>
</mapper>